streamlit
pandas
altair
nest_asyncio
asyncio
google-generativeai
requests
google-genai
plotly
streamlit-tags
datetime
newspaper3k
lxml[html_clean]==5.1.0
python-dateutil
textblob
tweepy
matplotlib
protobuf==3.20.3
altair==4.2.2
aiohttp
feedparser
traceback
spacy
time
json
undetected_chromedriver
selenium
pickle
trafilatura
os
